
*.manm
*.tecl
*.exe
*.dll
*.anmm
*.txt
*.mstd
*.manm
*.txt
*.bat
*.xcf
*.eclt
ModCdI/th13/XXst01bsmod.ecl
*.msgm
*.stdm
*.md
FestivalCreaCdi2/
*.mmsg
/Tests
/Tests
/ModCdI
/Tests
/PracticeAoCF
/Tests
*.dnut
